._marginBottom2 {

	margin-bottom: 2%;
	
}

._marginBottom5 {

	margin-bottom: 5%;
	
}

._marginBottom10 {

	margin-bottom: 10%;

}

._marginBottom15 {

	margin-bottom: 15%;

}

._marginTop2 {

	margin-top: 2%;
	
}

._marginTop5 {

	margin-top: 5%;
	
}

._marginTop10 {

	margin-top: 10%;

}

._marginTop15 {

	margin-top: 15%;

}

._paddingBottom2 {

	padding-bottom: 2%;
	
}

._paddingBottom5 {

	padding-bottom: 5%;
	
}

._paddingBottom10 {

	padding-bottom: 10%;

}

._paddingBottom15 {

	padding-bottom: 15%;

}

._paddingTop2 {

	padding-top: 2%;
	
}

._paddingTop5 {

	padding-top: 5%;
	
}

._paddingTop10 {

	padding-top: 10%;

}

._paddingTop15 {

	padding-top: 15%;

}