// Colors
$offWhite: #f4f3ee;

$mediumGray: #949181;

$campaignBluePrimary: #007cb2;

$campaignBlueDark: #005b8a;

$contributeRedPrimary: #c72f4f;

$contributeRedDark: #7c0e25;

$baseTan: #edece6;

$ghostBlue: #3d9bc4;