._calendarEvent {

	._date {

		@extend ._paddingTop10;

		background: $orangeTan;

		text-align:center;

		@media only screen and (min-width: 480px) {

			padding-top: 20px;

			padding-bottom: 20px;

		}

		@media only screen and (min-width: 768px) {

			
		
		}

	}

	._day {

		font-size: 90px;

		@media only screen and (min-width: 768px) {

			position: relative;

			top: 8px;

			font-size: 55px;

			// font-size: 2.125rem;
		}

	}

	._event {

		@extend ._paddingTop10;

		@extend ._paddingBottom10;

		background: $offWhite;

		@media only screen and (min-width: 768px) {

			padding-top: 57px;

			padding-left: 57px;

			padding-bottom: 0px;

		}

	}

	._eventCTA {

		@extend ._marginTop5;

		display:block;

		position: relative;

		top: 15px;

		@media only screen and (min-width: 768px) {

		top: -10px;

		}


			i {

				font-size: 35px;

				position: relative;

				top: 5px;

				left: 15px;

			}

			&:hover {

				text-decoration: none;

			}

	}

	._eventDate {

		position: relative;

		top: 8px;

		font-size: 18px;

		@media only screen and (min-width: 768px) {
			
			font-size: 12px;
		}

				

	}

	._eventDescription {

		@extend ._paddingTop15;
		
	}

	._eventHeadline {

		@extend ._paddingTop5;

		display:block;

		font-size: 23px;

		line-height: 30px;

	}

	._eventTitle {

		font-size: 20px;
		
	}

	._month {

		display:block;

		font-size: 50px;

		@media only screen and (min-width: 768px) {

			font-size: 22px;


		}

	}

}

._underlineWhite {

	margin-top: 5px;

	margin-bottom: 5px;

	border-bottom: 1px solid white;

	width: 50px;

	position: relative;

	top: 4px;
}